:root {
    --p-text-color: #757575;
    --bacground-color: #ffffff;
    --another-bacground-color: #f5f4fa;
    --board-bacground-color: #2f303a;
    --titel-link-color: #212121;
    --contacts-link-color: #757575;
    --hovers-and-logo-color: #2196f3;
    --logo-w-color: #000000;
    --logo-plus-color: #ffffff;
    --address-bord-color: #ffffff;
    --botton-colors-portfolio: #f5f4fa;
    --bacground-color-knopka: #188CE8;
    --bacground-color-advantages:#F5F4FA;
    --border-portfolio-pic: #EEEEEE;
}
h1,
h2,
h3,
h4,
p {
 
}
ul,
ol {
    margin-top: 0;
    margin-bottom: 0;
    padding-left: 0;
}
button {
    cursor: pointer;
}
img {
    display: block;
max-width: 100%;
height: auto;
}
.list {
    list-style: none;
}
.link {
    text-decoration: none;
}
body {
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
   letter-spacing: 0.03em;
    color: var(--titel-link-color);
}
.conteiner {
    width: 1200px;
margin-left: auto;
margin-right: auto;
padding-left: 15px;
padding-right: 15px;
}
.logo {
    font-weight: 700;
    font-size: 26px;
    line-height: 1.2;
font-family: 'Raleway', sans-serif;
    letter-spacing: 0.03em;
    color: var(--hovers-and-logo-color)
}
    .logo-w {
        color: var(--logo-w-color);
         margin-right: 93px;
         padding-top: 24px;
         padding-bottom: 25px;
font-weight: 700;
font-size: 26px;
line-height: 1.2;
font-family: 'Raleway', sans-serif;
letter-spacing: 0.03em;
text-decoration: none;
}
.footer-logo {
}
    .logo-w-footer { 
    color: var(--bacground-color);
    font-weight: 700;
    font-size: 26px;
    line-height: 1.2;
    font-family: 'Raleway', sans-serif;
    letter-spacing: 0.03em;
    text-decoration: none;
}
    .navigation {
display: flex;
column-gap: 52px;
            font-weight: 500;
            font-size: 14px;
            line-height: 1.1;
            letter-spacing: 0.02em;
    }
    .navigation-col {
        color: var(--titel-link-color);
        text-decoration: none;
    }
    .nav-roof {
        display: flex;
        align-items: center;
    }   
    .navigation-col:hover, 
        .navigation-col:focus {
            color: var(--hovers-and-logo-color);
        }
    .navig-adres {
        font-weight: 400;
        font-size: 14px;
        line-height: 1.7;
        font-style: normal;
        letter-spacing: 0.03em;
        color: var(--contacts-link-color);
        text-decoration: none;    
        display: flex;
    }
    .navig-adres:hover,
    .navig-adres:focus {
        color: var(--hovers-and-logo-color)
    }
    .conta-ic {
margin-right: 10px;
margin-top: auto;
margin-bottom: auto;
justify-items: center;
}
.conta-ic:hover,
.conta-ic:focus {
    color: var(--hovers-and-logo-color);
}

.header-conteiner {
display: flex;
align-items: center;
        justify-content: space-between;
        border-bottom: 1px solid #ececec;
    }
    .board {
        /* width: 1600px;
        height: 600px; */
        padding-top: 200px;
        padding-bottom: 200px;
        margin-left: auto;
        margin-right: auto;
        background-color: var(--board-bacground-color);
        background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/bordimg.jpg);
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        max-width: 1600px;
        height: 600px;
    }
.about-team-back {
        width: 270px;
        height: 368px;
    background: var(--bacground-color);
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12);
     0px 1px 1px rgba(0, 0, 0, 0.14);
      0px 2px 1px rgba(0, 0, 0, 0.2);
        box-shadow: 0px 0px 4px 4px;
} 
.board-knopka {
    width: 700px;
}
    .zagolovok {
    display: flex;
    align-items: center;
                 margin-left: auto;
         margin-right: auto;
              margin-bottom: 40px;
        font-weight: 900;
        font-size: 44px;
        line-height: 1.3;
        text-align: center;
        letter-spacing: 0.06em;
        text-transform: uppercase;
        color: var(--address-bord-color);
    }
.knopka { cursor: pointer;
     display: block;
padding-left: 32px;
padding-right: 32px;
padding-bottom: 10px;
padding-top: 10px;
     margin-left: auto;
     margin-right: auto;
font-family: inherit;
font-weight: 700;
            font-size: 16px;
            line-height: 1.8;
            color: var(--logo-plus-color);
            background: var(--hovers-and-logo-color);
box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border: none;

            /* identical to box height, or 188% */
}
.knopka:hover,
.knopka:focus {

    background-color: var(--hovers-and-logo-color);
    color: var(--address-bord-color);
background: var(--bacground-color-knopka);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
}
.portfolio-pic-back {
        width: 370px;
        background: var(--bacground-color);
        border: 1px solid var(--border-portfolio-pic);
}
.visually-hidden {position: absolute;
    white-space: nowrap;
    width: 1px;
    height: 1px;
    overflow: hidden;
    border: 0;
    padding: 0;
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    margin: -1px;}
        .us-tx{
        padding-top: 94px;
    }
    .description-tx {
        display: flex;
        gap: 30px;
    }
.list {
margin-bottom: 10px;
        font-size: 14px;
        line-height: 1.14;
        letter-spacing: 0.03em;
        text-transform: uppercase;
    
        color: var(--titel-link-color);
}
.list-description {
 

        font-size: 14px;
        line-height: 1.7;
        /* or 171% */
        letter-spacing: 0.03em;
        color: var(--p-text-color);
}
.what-we-do {
    padding-top: 94px;
}
.what-img {
        display: flex;
    column-gap: 30px;
    align-items: center;
padding-bottom: 94px;
}

.list-images-work {
        font-size: 36px;
        line-height: 1.1;
        letter-spacing: 0.03em;
        color: var(--titel-link-color);
        margin-bottom: 50px;
              margin-left: 400px;
        margin-right: 400px;
}
.our-advantages {
    padding-top: 94px;
    padding-bottom: 94px;
    background: var(--bacground-color-advantages);
}
.team-work {
text-align: center;
}
.profi {
    display: flex;
    gap: 30px;
}
.about-team-back {
        width: 270px;
        height: 368px;
    background: var(--bacground-color);
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12),
     0px 1px 1px rgba(0, 0, 0, 0.14),
      0px 2px 1px rgba(0, 0, 0, 0.2);
        border-radius: 0px 0px 4px 4px;
}
.name-staff {
        font-size: 16px;
        line-height: 1.1;
        /* identical to box height */
    
        letter-spacing: 0.03em;
        color: var(--titel-link-color);
        margin-bottom: 10px;
}
.about-staff {

   
        font-size: 16px;
        line-height: 1.1;
        /* identical to box height */
    
        letter-spacing: 0.03em;
        color: var(--p-text-color);
}
.name-kenty {
    display: block;
text-align: center;
padding: 30px;
}
.web-footer {
            /* width: 1600px;
        height: 600px; */
        background-color: var(--board-bacground-color);
            padding-bottom: 60px;
      padding-top: 60px
}
.adress{
    display: block;
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        line-height: 1.7;
        /* or 171% */
    color: var(--address-bord-color);
        letter-spacing: 0.03em;
        text-decoration: none;
}
address {
 margin-top: 20px;
}
ul {list-style: none;
}
.adre-s:not(:last-child){
    margin-bottom: 9px;
}
.button-portfolio:not(:last-child) {
    margin-right: 8px;
}
.button-portfolio {
   font-family: inherit;
   font-weight: 500;
        font-size: 16px;
        line-height: 1.6;
        /* identical to box height, or 162% */
    
        text-align: center;
        letter-spacing: 0.03em;
    cursor: pointer;
        height: 38px;
        border-radius: 4px;
    background-color: var(--botton-colors-portfolio);
     margin-right: 8px;
     padding: 6px 22px;
     border: none;
}
.button-portfolio:hover,
.button-portfolio:focus {
    background-color: var(--hovers-and-logo-color);
        color: var(--address-bord-color);
        box-shadow: 0px 10px 10px -5px rgba(0, 0, 0, 0.3);
}
.portfolink {
    display: block;
    text-decoration: none;
}
.portfolink:hover,
.portfolink:focus {
   box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}
.buttons-portfolio-page {
    padding-top: 94px;
    padding-bottom: 94px;
}
.geo-port-butt {
    display: flex;
    align-items: center;
justify-content: center;
margin-bottom: 56px;    
}
.pic-port {
     display: flex;
     flex-wrap: wrap;
     gap: 30px;
}
.pot-tx {
    padding: 20px 24px;
}
.list-portfolio {
  
margin-bottom: 4px;
        font-size: 18px;
        line-height: 2;
        /* identical to box height, or 200% */
    
        letter-spacing: 0.06em;
        color: var(--titel-link-color);
}
.list-portfolio-hide {

        font-size: 16px;
        line-height: 2.2;
        /* identical to box height, or 188% */
    
        letter-spacing: 0.03em;
        color: var(--contacts-link-color);
}